Repository chughtapan/wags: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        args: [--fix, --exit-non-zero-on-fix]
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        files: ^(src/|tests/)

Use experiment_name for output_dir, add get_experiment_name helper
  tests/benchmarks/appworld/conftest.py
  tests/benchmarks/appworld/test_appworld.py
Due: ruff, ruff-format, mypy

Refactor logging: structured log as single source of truth
  tests/benchmarks/mcp_universe/reporting.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Remove duplicate MAX_ITERATIONS constant
  tests/benchmarks/mcp_universe/reporting.py
Due: ruff, ruff-format, mypy

nit: fix format
  tests/benchmarks/mcp_universe/reporting.py
Due: ruff, ruff-format, mypy

nit: fix format
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Add output_dir fixture required by MCP-Universe tests
  tests/conftest.py
Due: ruff, ruff-format, mypy

optimize_gepa.py runs successfully between BFCL and dspy's GEPA api
  experiments/optimize_gepa.py
  tests/benchmarks/bfcl/test_bfcl.py
  tests/conftest.py
Due: ruff, ruff-format, mypy

add filler files to utils/
  .gitignore
Due: none

minimal version of GEPA ran
  experiments/gepa_bfcl.py
  experiments/gepa_minimal.py
Due: ruff, ruff-format

remove dead code, remove hard-coded vinamra-test, and clean up mcp universe integration
  pyproject.toml
  tests/benchmarks/mcp_universe/README.md
  tests/benchmarks/mcp_universe/fastagent.config.yaml
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  uv.lock
Due: ruff, ruff-format, mypy

update README.md
  tests/benchmarks/mcp_universe/README.md
Due: none

gepa minimal
  experiments/gepa_minimal.py
Due: ruff, ruff-format

gepa test with shell pytest arguments
  experiments/gepa_minimal.py
  experiments/optimize_gepa.py
Due: ruff, ruff-format

optimize_gepa.py runs successfully between BFCL and dspy's GEPA api
  experiments/optimize_gepa.py
  tests/benchmarks/bfcl/test_bfcl.py
  tests/conftest.py
  utils/GEPA_desc.txt
  utils/appworld_new.txt
  utils/gepa_outputs_desc.txt
  utils/instruction_new.txt
  utils/json2md.py
  utils/scripts/__init__.py
  utils/scripts/compare_bfcl.py
  utils/tree.txt
Due: ruff, ruff-format, mypy

GEPA experiment outputs more logs
  experiments/gepa_bfcl.py
Due: ruff, ruff-format

tried summarizing behavior
  experiments/gepa_bfcl.py
Due: ruff, ruff-format

working on BFCLAgent forward
  experiments/gepa_bfcl/agent.py
Due: ruff, ruff-format

Making GEPA-BFCL experiment more readable. Started with logging_utils
  experiments/gepa_bfcl/__init__.py
  experiments/gepa_bfcl/agent.py
  experiments/gepa_bfcl/data.py
  experiments/gepa_bfcl/logging_utils.py
  experiments/gepa_bfcl/metrics.py
  experiments/gepa_bfcl/run.py
  experiments/gepa_bfcl/scoring_utils.py
Due: ruff, ruff-format

GEPA successfully works on BFCL Agent runs
  experiments/gepa_bfcl.py
Due: ruff, ruff-format

Finished logging and scoring utils
  experiments/gepa_bfcl/logging_utils.py
  experiments/gepa_bfcl/scoring_utils.py
Due: ruff, ruff-format

GEPA on BFCL package runs correctly
  experiments/__init__.py
  experiments/gepa_bfcl/agent.py
  experiments/gepa_bfcl/data.py
  experiments/gepa_bfcl/data_utils.py
  experiments/gepa_bfcl/metrics.py
  experiments/gepa_bfcl/run.py
Due: ruff, ruff-format

add full vs minimal toolset distinction feature
  tests/benchmarks/mcp_universe/fastagent.config.yaml
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/conftest.py
Due: ruff, ruff-format, mypy

fix ruff format for test_mcp_universe.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Metric doesn’t include involved classes, excluded functions, or constraint violation
  .gitignore
  experiments/gepa_bfcl/metrics.py
Due: ruff, ruff-format

bfcl test cases can now be shuffled and run on an entire subset
  experiments/gepa_bfcl/data_utils.py
  experiments/gepa_bfcl/run.py
Due: ruff, ruff-format

removed soft score
  experiments/gepa_bfcl/metrics.py
Due: ruff, ruff-format

agent and reflection LMs are separated
  experiments/gepa_bfcl.py
  experiments/gepa_bfcl/agent.py
  experiments/gepa_overview.txt
  tests/benchmarks/bfcl/instruction.txt
Due: ruff, ruff-format

Enhancing how models are separated
  experiments/gepa_bfcl/agent.py
  experiments/gepa_bfcl/env_utils.py
  experiments/gepa_bfcl/run.py
  tests/benchmarks/bfcl/instruction_old.txt
Due: ruff, ruff-format

Specific test cases/range can be specified in args
  experiments/gepa_bfcl/data_utils.py
  experiments/gepa_bfcl/env_utils.py
  experiments/gepa_bfcl/run.py
Due: ruff, ruff-format

Log how each run of a test case is mapped to which instruction
  experiments/gepa_bfcl/agent.py
  experiments/gepa_bfcl/logging_utils.py
  experiments/gepa_bfcl/run.py
Due: ruff, ruff-format

RunContext wasn't being preserved across files
  experiments/gepa_bfcl/metrics.py
  experiments/gepa_bfcl/run.py
Due: ruff, ruff-format

Evaluation output is sent to the model and logged. Ready for final run
  .gitignore
  experiments/gepa_bfcl/agent.py
  experiments/gepa_bfcl/run.py
  tests/utils/fastagent_helpers.py
Due: ruff, ruff-format, mypy

Initial scripts for candidate analysis
  experiments/gepa_analysis/candidate_snapshots.py
  experiments/gepa_analysis/prompt_diff.py
  experiments/gepa_analysis/prompt_timeline.py
  experiments/gepa_bfcl.py
Due: ruff, ruff-format

fix: Update MCP API calls to use snake_case naming
  src/wags/utils/handlers_generator.py
  tests/benchmarks/appworld/mcp_server.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/e2e/test_github_server.py
  tests/unit/utils/test_handlers_generator.py
  tests/utils/fastagent_helpers.py
  tests/utils/test_fastagent_helpers.py
Due: ruff, ruff-format, mypy

fix: Update test_proxy.py to use new FastMCP get_tools() API
  tests/unit/test_proxy.py
Due: ruff, ruff-format, mypy

Add uvicorn override and update lock file
  pyproject.toml
  uv.lock
Due: none
