Repository chughtapan/wags: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: uv run ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: uv run mypy
  language: system

Improvements for Appworld MCP Integration
  tests/benchmarks/appworld/mcp_server.py
  tests/benchmarks/appworld/prompts.py
  tests/benchmarks/appworld/system_instruction.txt
Due: ruff, ruff-format, mypy

Improvements for Appworld MCP Integration (#23)
  tests/benchmarks/appworld/mcp_server.py
  tests/benchmarks/appworld/prompts.py
  tests/benchmarks/appworld/system_instruction.txt
Due: ruff, ruff-format, mypy

fix dependencies
  pyproject.toml
  uv.lock
Due: none

update gh mcp server version and remove patch fixes
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/fastagent.config.yaml
Due: ruff, ruff-format, mypy

Update instruction.txt with server instructions placeholder
  tests/benchmarks/bfcl/instruction.txt
Due: none

Update instruction.txt with server instructions placeholder (#24)
  tests/benchmarks/bfcl/instruction.txt
Due: none

Patch MCP tools with BFCL's function documentation
  tests/benchmarks/bfcl/mcp_server.py
Due: ruff, ruff-format, mypy

Update GitHub command arguments in config file
  tests/e2e/fastagent.config.yaml
Due: none

Add humanity test experiment for eval vs real prompt detection
  .gitignore
  pyproject.toml
  tests/experiments/humanity_test/__init__.py
  tests/experiments/humanity_test/analysis.py
  tests/experiments/humanity_test/assets/mcp_universe_repository_management.jsonl
  tests/experiments/humanity_test/conftest.py
  tests/experiments/humanity_test/fastagent.config.yaml
  tests/experiments/humanity_test/instruction.txt
  tests/experiments/humanity_test/test_classifier.py
  uv.lock
Due: ruff, ruff-format, mypy

Fix mypy errors for appworld imports in humanity test
  tests/experiments/humanity_test/test_classifier.py
Due: ruff, ruff-format, mypy

Updated instructions for first-time BFCL setup
  README.md
  docs/evals.md
Due: none

patch evaluator bugs
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/fastagent.config.yaml
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/conftest.py
  tests/utils/__init__.py
  tests/utils/fastagent_helpers.py
  tests/utils/logger.py
  uv.lock
Due: ruff, ruff-format, mypy

fix imports
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/utils/logger.py
Due: ruff, ruff-format, mypy

fix ci/cd failures
  pyproject.toml
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/integration/test_roots_middleware.py
  tests/unit/middleware/test_roots.py
  tests/utils/logger.py
Due: ruff, ruff-format, mypy

fix evaluator errors
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/utils/fastagent_helpers.py
Due: ruff, ruff-format, mypy

improve logs for readability
  tests/benchmarks/mcp_universe/README.md
  tests/utils/logger.py
Due: ruff, ruff-format, mypy

fix bugs in and improve evaluator patch
  tests/benchmarks/mcp_universe/evaluator_patch.py
Due: ruff, ruff-format, mypy

cleanup a bit of code
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/fastagent.config.yaml
Due: ruff, ruff-format, mypy

gepa minimal
  experiments/gepa_minimal.py
Due: ruff, ruff-format

WIP: updating AppWorld
  .gitignore
  docs/evals.md
  tests/README.md
  tests/benchmarks/appworld/README.md
  tests/benchmarks/appworld/conftest.py
  tests/benchmarks/appworld/reporting.py
  tests/benchmarks/appworld/test_appworld.py
  tests/benchmarks/bfcl/conftest.py
  tests/benchmarks/bfcl/test_bfcl.py
  tests/conftest.py
  uv.lock
Due: ruff, ruff-format, mypy

Update Appworld
  pyproject.toml
  tests/benchmarks/appworld/conftest.py
  tests/benchmarks/appworld/mcp_server.py
  tests/benchmarks/appworld/reporting.py
  tests/conftest.py
  uv.lock
Due: ruff, ruff-format, mypy

Revert middleware test URL workarounds
  tests/integration/test_roots_middleware.py
  tests/unit/middleware/test_roots.py
Due: ruff, ruff-format, mypy

Regenerate uv.lock with mcpuniverse dependency
  uv.lock
Due: none

Refactor MCP-Universe logging to minimize diff vs main
  pyproject.toml
  tests/benchmarks/mcp_universe/README.md
  tests/benchmarks/mcp_universe/reporting.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/utils/logger.py
Due: ruff, ruff-format, mypy

Add zero-shot default and multi-dataset support for AppWorld
  docs/evals.md
  tests/README.md
  tests/benchmarks/appworld/README.md
  tests/benchmarks/appworld/conftest.py
  tests/benchmarks/appworld/prompts.py
  tests/benchmarks/appworld/test_appworld.py
Due: ruff, ruff-format, mypy

Remove dead code and improve readability in MCP-Universe
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/reporting.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Remove more deadcode
  pyproject.toml
  tests/benchmarks/appworld/mcp_server.py
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/utils/logger.py
  uv.lock
Due: ruff, ruff-format, mypy

Fix zero-shot prompt by removing examples line from template
  tests/benchmarks/appworld/prompts.py
  tests/benchmarks/appworld/system_instruction.txt
Due: ruff, ruff-format, mypy

Fix type errors and remove unnecessary config overrides
  pyproject.toml
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/loader.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

nit
  tests/benchmarks/mcp_universe/evaluator_patch.py
Due: ruff, ruff-format, mypy

Refactor MCP-Universe to remove all ruff/mypy exceptions
  pyproject.toml
  tests/benchmarks/mcp_universe/evaluator_patch.py
  tests/benchmarks/mcp_universe/reporting.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Inline task loading, remove loader.py
  tests/benchmarks/mcp_universe/loader.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Add --appworld-experiment-name option, simplify experiment handling
  tests/README.md
  tests/benchmarks/appworld/conftest.py
Due: ruff, ruff-format, mypy

Refactor run/validate separation in test_mcp_universe
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Fix evaluator.py to not import deleted loader module
  tests/benchmarks/mcp_universe/evaluator.py
Due: ruff, ruff-format, mypy

Apply ruff-format
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Use shared --output-dir option, add --appworld-experiment-name
  tests/benchmarks/appworld/conftest.py
Due: ruff, ruff-format, mypy

gepa test with shell pytest arguments
  experiments/gepa_minimal.py
  experiments/optimize_gepa.py
Due: ruff, ruff-format

Fix failure reports and validation mode to use --datasets
  tests/benchmarks/appworld/conftest.py
  tests/benchmarks/appworld/test_appworld.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: ^(src/|tests/) and \.py$
