Repository chughtapan/wags: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        args: [--fix, --exit-non-zero-on-fix]
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        files: ^(src/|tests/)

Fix mypy errors for updated MCP/FastMCP API
  tests/benchmarks/bfcl/elicitation.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
Due: ruff, ruff-format, mypy

Fix proxy tests to use proper client connection
  tests/unit/test_proxy.py
  uv.lock
Due: ruff, ruff-format, mypy

Update lock file with elicitation fix
  uv.lock
Due: none

Revert "Merge pull request #43 from chughtapan/fix/fastmcp-api-compat"
  pyproject.toml
  src/wags/utils/handlers_generator.py
  tests/benchmarks/appworld/mcp_server.py
  tests/benchmarks/bfcl/elicitation.py
  tests/benchmarks/mcp_universe/test_mcp_universe.py
  tests/e2e/test_github_server.py
  tests/unit/test_proxy.py
  tests/unit/utils/test_handlers_generator.py
  tests/utils/fastagent_helpers.py
  tests/utils/test_fastagent_helpers.py
  uv.lock
Due: ruff, ruff-format, mypy

feat(groups): Add structured JSON output for enable_tools/disable_tools
  docs/middleware/groups.md
  docs/middleware/overview.md
  mkdocs.yml
  src/wags/middleware/__init__.py
  src/wags/middleware/groups.py
  tests/e2e/groups/__init__.py
  tests/e2e/groups/conftest.py
  tests/e2e/groups/demo.py
  tests/e2e/groups/fastagent.config.yaml
  tests/e2e/groups/server.py
  tests/e2e/groups/test_groups_e2e.py
  tests/integration/test_groups_middleware.py
  tests/unit/middleware/test_groups.py
Due: ruff, ruff-format, mypy

Rebase groups_middleware on reverted main (no snake_case)
  pyproject.toml
  src/wags/middleware/groups.py
  tests/benchmarks/bfcl/elicitation.py
  tests/unit/test_proxy.py
  uv.lock
Due: ruff, ruff-format, mypy

Updated candidate analysis to take in output_dir argument and easy to run
  experiments/gepa_analysis/candidate_snapshots.py
  experiments/gepa_analysis/prompt_diff.py
  experiments/gepa_analysis/prompt_timeline.py
  experiments/gepa_analysis/run_all.py
Due: ruff, ruff-format

update lock file
  uv.lock
Due: none
